<div class="signup-content">
   <mat-card>
      <mat-card-content>
         <form [formGroup]="form"
               (ngSubmit)="onSubmit()">
            <p>Please Signup</p>
            <mat-form-field class="full-width-input">
               <input matInput
                      placeholder="user"
                      formControlName="username"
                      required>
               <mat-error *ngIf="isFieldInvalid('username')">please enter a
                  username</mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
               <input matInput
                      type="password"
                      placeholder="password"
                      formControlName="password"
                      required>
               <mat-error *ngIf="isFieldInvalid('password')">
                  A password is required
               </mat-error>
            </mat-form-field>
            <div class="submit-button-container">
               <button mat-raised-button
                       color="primary">SIGN UP
               </button>
            </div>
         </form>
      </mat-card-content>
   </mat-card>
</div>